// Overides

pre {
  padding: 1em;
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-left: .3rem solid $brand-primary;
  color: $body-color;
  border-radius: $border-radius;
}

.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}


.nav-stacked {
  .nav-header {
    padding-left: $grid-gutter-width-base / 2;
  }
}
