// Variables
@import "./variables";

// Utilities
// @import "./utilities";

// Components
@import "./components/components-variables";
@import "./components/callouts";
@import "./components/page-header";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/open-iconic/font/css/open-iconic-bootstrap";

// Site
@import "./integrations";
@import "./overides";


// Scaffolding
////////////////////////////////////////////////////////////////////////////////

#main {
  border: 1px solid $card-border-color;
  background-color: #FFF;
  border-radius: $border-radius;
}

// Header
#header {
  .navbar {
    border-radius: 0;
  }
}

#sidebar {
  a {
    color: $gray-light;

    &:hover, &:active {
      color: $link-hover-color;
    }
  }

  .nav-link {
    padding: 0.2em 0;
  }
}

// Footer
#footer {
  border-top: 1px solid $gray-lighter;
  font-size: 14px;
}

.nav-stacked {
  border-right: 1px solid $card-border-color;
}
