<h3 class="page-header" id="authentication">Authentication</h3>

<p>Authenticate by including your secret API key in the request. Your API key carry many privileges, so be sure to keep it secret! Do not share your secret API key in publicly accessible areas such GitHub, client-side code, and so forth.</p>

<p>Authentication to the API can be performed via the request's URL <strong>token</strong> parameter or by including an <code>AUTHORIZATION Token your-api-token</code> header with your API token.</p>

<p>All API requests must be made over HTTPS. Calls made over plain HTTP will fail. API requests without authentication will also fail.</p>
