<h3 class="page-header" id="errors">Errors</h3>
<p>Dialog uses conventional HTTP response codes to indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, etc.), and codes in the 5xx range indicate an error with Dialog's servers.</p>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>200 - Ok</td>
      <td>The request has succeeded.</td>
    </tr>
    <tr>
      <td>201 - Created</td>
      <td>The request has been fulfilled and has resulted in one or more new resources being created.</td>
    </tr>
    <tr>
      <td>400 - Bad Request</td>
      <td></td>
    </tr>
    <tr>
      <td>401 - Unauthorized</td>
      <td>The request has not been applied because it lacks valid authentication credentials for the target resource.</td>
    </tr>
    <tr>
      <td>403 - Forbidden</td>
      <td>The server understood the request but refuses to authorize it.</td>
    </tr>
    <tr>
      <td>404 - Record Not Found</td>
      <td></td>
    </tr>
    <tr>
      <td>404 - Routing Error</td>
      <td></td>
    </tr>
    <tr>
      <td>422 - Record Invalid</td>
      <td>The request was unacceptable, all required parameters are present, but some parameters are invalid.</td>
    </tr>
    <tr>
      <td>422 - Record Not Unique</td>
      <td>The request was unacceptable due to a non-unique attribute.</td>
    </tr>
    <tr>
      <td>422 - Parameter Missing</td>
      <td>The request was unacceptable due to missing a required parameter.</td>
    </tr>
    <tr>
      <td>500 - Internal Server Error</td>
      <td>Something went wrong on Dialog's end. (These are rare.)</td>
    </tr>
  </tbody>
</table>
