<h3 class="page-header" id="idempotent-requests">Idempotent requests</h3>

<p>The API requires every <code>distinct_id</code> to be unique on the <%= link_to "Message", "/reference/message.html" %>, <%= link_to "Conversation", "/reference/conversation.html" %> and <%= link_to "Interlocutor", "/reference/interlocutor.html" %> resources. By doing so, the API supports idempotency for safely retrying requests without accidentally performing the same operation twice. For example, if a request to create a message fails due to a network connection error, you can retry the request with the same <code>distinct_id</code> and it is guaranteed that only a single message will be created.</p>
