<h2 class="page-header" id="introduction">Introduction</h2>

<p class="lead">Getting started with Dialog takes just a few minutes once you’ve signed up for an account.</p>

<p>As of now the only way to interact with the API is via it's HTTP endpoint. Please take note that official wrappers for these languages are coming: Clojure, Go, Java, Node, PHP, Python, Ruby and .NET.</p>

<p>The Dialog API is organized around REST. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. JSON is returned by all API responses, including errors, although our API libraries convert responses to appropriate language-specific objects.</p>

<div class="callout callout-primary">
  <div class="callout-content">
    <strong>Sandbox account</strong>
    <p>All code examples in this documentation use the <code>test</code> API token, which makes request to a sandbox account. Don't be shy, try it!</p>
  </div>
</div>
