<nav id="sidebar">
  <ul class="nav nav-pills nav-stacked py-2">
    <li class="nav-item">
      API Reference
    </li>
    <li class="nav-item"><a class="nav-link" href="/reference#introduction">Introduction</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#authentication">Authentication</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#content-type">Content type</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#errors">Errors</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#idempotent-requests">Idempotent requests</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#rate-limiting">Rate limiting</a></li>
    <li class="nav-item"><a class="nav-link" href="/reference#versioning">Versioning</a></li>

    <li class="nav-item mt-1">Core resources</li>
    <li class="nav-item">
      <a class="nav-link" href="/reference/track">Track</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reference/conversation">Conversation</a>
      <ul class="nav ml-1">
        <li class="nav-item"><a class="nav-link" href="/reference/conversation#object">Conversation object</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/conversation#retrieve">Retrieve a conversation</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/conversation#list">List all conversations</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reference/message">Message</a>
      <ul class="nav ml-1">
        <li class="nav-item"><a class="nav-link" href="/reference/message#object">Message object</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/message#retrieve">Retrieve a message</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/message#list">List all messages</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/message#types">Types</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/message#buttons">Buttons</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reference/interlocutor">Interlocutor</a>
      <ul class="nav ml-1">
        <li class="nav-item"><a class="nav-link" href="/reference/interlocutor#object">Interlocutor object</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/interlocutor#create">Create an interlocutor</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/interlocutor#retrieve">Retrieve an interlocutor</a></li>
        <li class="nav-item"><a class="nav-link" href="/reference/interlocutor#list">List all interlocutors</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reference/click-tracking">Click tracking</a>
    </li>
  </ul>
</nav>
