<h3 class="page-header" id="rate-limiting">Rate Limiting</h3>
<p>You can make the number of requests your plan allows you to do. Check the returned HTTP headers of any API request to see your current rate limit status. If you’re running into this error or think you’ll need a higher rate limit, drop us a line at <a href="mailto:friends@dialoganalytics.com">friends@dialoganalytics.com</a>.</p>

<div class="callout callout-primary">
  <div class="callout-content">
    <p>We always keep ingesting your data, even if you go over limit. And you won’t get billed more instantly. We’ll contact you about overages and will upgrade you according to our upgrade policy.</p>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Header</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>X-RateLimit-Limit</td>
      <td>The maximum number of requests that the consumer is permitted to make per month.</td>
    </tr>
    <tr>
      <td>X-RateLimit-Remaining</td>
      <td>The number of requests remaining in the current rate limit window.</td>
    </tr>
    <tr>
      <td>X-RateLimit-Reset</td>
      <td>The time at which the current rate limit window resets in <a href="https://en.wikipedia.org/wiki/Unix_time">Unix time</a> format.</td>
    </tr>
  </tbody>
</table>
