---
title: Click Tracking - Dialog Documentation
description: Documentation of the click API endpoint allowing to track links clicked by users inside a conversation.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="click-tracking">Click Tracking</h2>

      <p class="lead">This action allows to track links clicked by users inside a conversation.</p>

      <p>To use click tracking, wrap all your URLs like this: <code>https://api.dialoganalytics.com/v1/click/:id?url=http%3A%2F%2Fexample.com</code>, where <code>:id</code> is a unique conversation ID issued by the provider or the platform.</p>

      <p>The <code>url</code> should be encoded according to the <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent">encodeURIComponent</a> specification.</p>

      <p>Dialog will track every click and redirect the user to the URL specified as the <code>url</code> parameter.</p>

      <p>If the conversation doesn't exist on Dialog's end, either because the data has been reset or because the conversation hasn't been created yet, the click event will be discarded. The redirection happens at <strong>all times</strong>.</p>

      <div class="callout callout-primary">
        <div class="callout-content">
          <p>You don't need to provide authentication for this endpoint.</p>
        </div>
      </div>

    </div>
  </div>
</div>
