---
title: Click Tracking - Dialog Documentation
description: Track links clicked by users inside a conversation.
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="click-tracking">Click Tracking</h2>

      <p class="lead">This action allows to track links clicked by users inside a conversation.</p>

      <p>To use click tracking, wrap all your URLs like this: <code>https://api.dialoganalytics.com/v1/click/:conversation_distinct_id?url=http://example.com</code>, where <code>:conversation_distinct_id</code> is a unique conversation ID issued by the provider eg. Facebook, Kik or Smooch.</p>

      <p>Dialog will track every click and redirect the user to the URL specified as the <code>url</code> parameter.</p>

      <div class="callout callout-primary">
        <div class="callout-content">
          <p>You don't need to provide authentication for this endpoint.</p>
        </div>
      </div>

    </div>
  </div>
</div>
