---
title: Conversation - Dialog Documentation
description: Documentation for the conversation API resource. A Conversation represents the concept of a thread or channel on a messenging platform.
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="conversation">Conversation</h2>

      <p class="lead">A Conversation represents the concept of a thread or channel on a messenging platform.</p>

      <h4 class="page-header" id="object">Conversation object</h4>

      <pre>
{
  "id": "58f52d4a-8271-4452-9f9a-ee2e732cafdb",
  "created_at": 1472585700.314108,
  "updated_at": 1472585700.314108,
  "start_at": 1472585712.1784809,
  "end_at": 1472587659.338124,
  "duration": 1947.1596431732178,
  "distinct_id": "692e73ea-f1d2-44b6-a8f8-b21e1820c1e0",
  "messages_count": 17,
  "sessions_count": 2,
  "properties": {
    "group": {
      "name": "Dialog",
      "distinct_id": "8721hnj234"
    }
  }
}</pre>

      <h4 class="page-header" id="retrieve">Retrieve a conversation</h4>
      <p>Retrieves the details of an existing conversation. You need only supply the unique bot and conversation identifier that was returned upon conversation creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id</pre>

      <h4 class="page-header" id="list">List all conversations</h4>
      <p>Returns a list of the bot's conversations. The conversations are returned sorted by creation date, with the most recent conversations appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations</pre>
    </div>
  </div>
</div>
