---
title: Conversation - Dialog Documentation
description:
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="conversation">Conversation</h2>

      <p class="lead">A Conversation represents the concept of a thread or channel on a messenging platform.</p>

      <h4 class="page-header">Request</h4>

      <pre>
curl -XPOST -H "Content-type: application/json" -d '{
  "conversation": {
    "distinct_id": "some-conversation-distinct-id",
    "properties": {
      "group": {
        "name": "Dialog",
        "distinct_id": "8721hnj234"
      }
    }
  }
}' 'https://api.dialoganalytics.com/v1/conversations?token=dialog-public-token'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Param</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i>distinct_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>A unique conversation, thread or channel ID issued by the messenging platform.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>properties</i>
                </td>
                <td>
                  <strong>hash</strong> <span class="label label-default">Optional</span>
                  <p>Additional conversation properties.</p>
                  <p>You may include a <code>group</code> property with <code>name</code> and <code>distinct_id</code> properties to track Slack teams.</p>
                  <pre>
...,
properties: {
  group: {
    name: "Dialog",
    distinct_id: "8721hnj234"
  }
}
</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
