---
title: Event - Dialog Documentation
description: Documentation for the event API resource. An Event may be tied to a specific interlocutor or not.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="event">Event</h2>

      <p class="lead">This endpoint allows to interact with <%= link_to "events", "/concepts.html#event" %>.</p>

      <h4 class="page-header" id="object">Event object</h4>

      <pre>
{
  "bot_id": "<span class="js-distinct-id"></span>",
  "created_at": "2017-01-09T22:25:41.696Z",
  "name": "subscribed",
  "interlocutor_id": "<span class="js-distinct-id"></span>",
  "properties": {
    "content": "motivation-10"
  }
}</pre>

      <h4 class="page-header" id="create">Create an event</h4>

      <pre>
curl -X POST -H "Content-type: application/json" -d '{
  "event": {
    "created_at": 1474215799.432,
    "name": "subscribed",
    "id": "<span class="js-distinct-id"></span>",
    "properties": {
      "content": "motivation-10"
    }
  }
}' 'https://api.dialoganalytics.com/v1/b/a925a32e/events?token=test'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>created_at</i>
              </td>
              <td>
                <strong>number</strong> <span class="tag tag-success">Required</span>
                <p>A <a href="https://en.wikipedia.org/wiki/Unix_time">Unix timestamp</a> with milliseconds.</p>
                <p>Example: <code>1474215799.4329312</code>, <code>1474215799.432</code> or <code>1474215799</code> are valid values.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>name</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Event name. Example: <code>subscribed</code>, <code>unsubscribed</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>id</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>You may optionnally pass an interlocutor's <code>distinct_id</code> to tie the event with the given <%= link_to "Interlocutor", "/concepts.html#interlocutor" %>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>properties</i>
              </td>
              <td>
                <strong>hash</strong> <span class="tag tag-default">Optional</span>
                <p>Additional event properties.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="callout callout-primary">
        <div class="callout-content">
          <p>Note the whole event payload is limited to 8kb.</p>
        </div>
      </div>

    </div>
  </div>
</div>
