---
title: Interlocutor - Dialog Documentation
description: Documentation for the interlocutor API resource. An Interlocutor represents a user on a messaging platform.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="interlocutor">Interlocutor</h2>

      <p class="lead">This endpoint allows to interact with <%= link_to "interlocutors", "/concepts.html#interlocutor" %>.</p>

      <h4 class="page-header" id="object">Interlocutor object</h4>

      <pre>
{
  "id": "<span class="js-distinct-id"></span>",
  "bot_id": "<span class="js-distinct-id"></span>",
  "conversation_id": "<span class="js-distinct-id"></span>",
  "distinct_id": "1134990723198922",
  "username": "elon",
  "phone": "141812312345",
  "email": "elon@spacex.com",
  "first_name": "Elon",
  "last_name": "Musk",
  "gender": "male",
  "locale": "en",
  "email": null,
  "profile_picture": "http://spacex.com/elon.jpg",
  "timezone": -5,
  "created_at": "2017-01-09T22:25:43.394Z"
}</pre>

      <h4 class="page-header" id="list">List all interlocutors</h4>
      <p>Returns a list of the bot's interlocutors. The interlocutors are returned sorted by creation date, with the most recent interlocutors appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/interlocutors</pre>

      <h4 class="page-header" id="retrieve">Retrieve an interlocutor</h4>
      <p>Retrieves the details of an existing interlocutor. You need only supply the unique bot and interlocutor identifier that was returned upon interlocutor creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/interlocutors/:id</pre>

      <h4 class="page-header" id="create">Create an interlocutor</h4>
      <p>Creating an interlocutor is not possible through this endpoint, instead you should use the <%= link_to "track", "/reference/track.html" %> endpoint. This is because an interlocutor must be associated to a conversation at it's creation.</p>

      <h4 class="page-header" id="update">Update an interlocutor</h4>

      <pre>
curl -X PATCH -H "Content-type: application/json" -d '{
  "interlocutor": {
    "username": "elon",
    "phone": "141812312345",
    "email": "elon@spacex.com",
    "first_name": "Elon",
    "last_name": "Musk",
    "gender": "male",
    "locale": "us",
    "profile_picture": "http://spacex.com/elon.jpg",
    "timezone": -7
  }
}' 'https://api.dialoganalytics.com/v1/b/a925a32e/interlocutors/1?token=test'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>username</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>Username. Example: <code>@elon</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>phone</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User phone number. Minimum length 10 characters. Maximum length 25 characters.</p>
                <p>Example: <code>141812312345</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>email</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User email. Example: <code>elon@spacex.com</code></p>
              </td>
            </tr>
            <tr>
              <td>
                <i>first_name</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User first name. Example: <code>Elon</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>last_name</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User last name. Example: <code>Musk</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>gender</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User gender. Must be either <code>male</code> or <code>female</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>locale</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User locale in <a href="https://en.wikipedia.org/wiki/ISO_639-1">ISO 639-1</a> format.</p>
                <p>Example: <code>us</code>, <code>zh</code>, <code>ru</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>profile_picture</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User profile picture. Example: <code>http://spacex.com/elon.jpg</code></p>
              </td>
            </tr>
            <tr>
              <td>
                <i>timezone</i>
              </td>
              <td>
                <strong>number</strong> <span class="tag tag-default">Optional</span>
                <p>User timezone as a GMT offset.</p>
                <p>Example: <code>-7</code>, <code>4</code>.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
