---
title: Interlocutor - Dialog Documentation
description: Documentation for the interlocutor API resource. An Interlocutor represents a user on a messaging platform.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="interlocutor">Interlocutor</h2>

      <p class="lead">An Interlocutor represents a user on a messaging platform.</p>

      <h4 class="page-header" id="object">Interlocutor object</h4>

      <pre>
{
  "id": "<span class="js-distinct-id"></span>",
  "distinct_id": "<span class="js-distinct-id"></span>",
  "bot_id": "<span class="js-distinct-id"></span>",
  "conversation_id": "<span class="js-distinct-id"></span>",
  "username": "elon",
  "phone": "141812312345",
  "email": "elon@spacex.com",
  "first_name": "Elon",
  "last_name": "Musk",
  "gender": "male",
  "locale": "us",
  "profile_picture": "http://spacex.com/elon.jpg",
  "timezone": "America/Los_Angeles"
  "created_at": 1472585700.314108
}</pre>

      <h4 class="page-header" id="create">Create an interlocutor</h4>

      <pre>
curl -X POST -H "Content-type: application/json" -d '{
  "interlocutor": {
    "distinct_id": "<span class="js-distinct-id"></span>",
    "username": "elon",
    "phone": "141812312345",
    "email": "elon@spacex.com",
    "first_name": "Elon",
    "last_name": "Musk",
    "gender": "male",
    "locale": "us",
    "profile_picture": "http://spacex.com/elon.jpg",
    "timezone": "America/Los_Angeles"
  }
}' 'https://api.dialoganalytics.com/v1/b/a925a32e/interlocutors?token=test'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>distinct_id</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>A unique user ID issued by the messaging platform. This enables the API to support <a href="/reference#idempotent-requests">idempotent requests</a>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>username</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>Username. Example: <code>@elon</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>phone</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User phone number. Minimum length 10 characters. Maximum length 25 characters.</p>
                <p>Example: <code>141812312345</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>email</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User email. Example: <code>elon@spacex.com</code></p>
              </td>
            </tr>
            <tr>
              <td>
                <i>first_name</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User first name. Example: <code>Elon</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>last_name</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User last name. Example: <code>Musk</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>gender</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User gender. Must be either <code>male</code> or <code>female</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>locale</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User locale in <a href="https://en.wikipedia.org/wiki/ISO_639-1">ISO 639-1</a> format.</p>
                <p>Example: <code>us</code>, <code>zh</code>, <code>ru</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>profile_picture</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User profile picture. Example: <code>http://spacex.com/elon.jpg</code></p>
              </td>
            </tr>
            <tr>
              <td>
                <i>timezone</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>User timezone as defined by in the <a href="http://www.iana.org/time-zones">IANA Time Zone Database</a>, which is also available in searchable format in Wikipedia's <a href="http://en.wikipedia.org/wiki/List_of_tz_database_time_zones">List of tz database time zones</a>.</p>
                <p>Example: <code>America/Los_Angeles</code>, <code>America/New_York</code>, <code>Europe/Stockholm</code>.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 class="page-header" id="retrieve">Retrieve an interlocutor</h4>
      <p>Retrieves the details of an existing interlocutor. You need only supply the unique bot and interlocutor identifier that was returned upon interlocutor creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/interlocutors/:id</pre>

      <h4 class="page-header" id="list">List all interlocutors</h4>
      <p>Returns a list of the bot's interlocutors. The interlocutors are returned sorted by creation date, with the most recent interlocutors appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/interlocutors</pre>

    </div>
  </div>
</div>
