---
title: Message - Dialog Documentation
description: Documentation for the message API resource. A Message represents an interaction between a bot and a user.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="message">Message</h2>

      <p class="lead">A Message represents an interaction between a bot and a user.</p>

      <h4 class="page-header" id="object">Message object</h4>

      <pre>
{
  "created_at": 1472587314.50399,
  "updated_at": 1472587314.50399,
  "conversation_id": "<span class="js-distinct-id"></span>",
  "creator_type": "interlocutor",
  "id": "<span class="js-distinct-id"></span>",
  "creator_id": "<span class="js-distinct-id"></span>",
  "distinct_id": "<span class="js-distinct-id"></span>",
  "mtype": "text",
  "sent_at": 1472587314.10399,
  "platform": "messenger",
  "provider": "smooch",
  "properties": {
    "text": "Hey ho, let's go"
  }
}</pre>

      <h4 class="page-header" id="retrieve">Retrieve a message</h4>
      <p>Retrieves the details of an existing message. You need to supply the bot ID, the conversation ID and the message unique identifier that was returned upon message creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages/:id</pre>

      <h4 class="page-header" id="list">List all messages</h4>
      <p>Returns a list of the conversation's messages. The messages are returned sorted by creation date, with the most recent messages appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages</pre>

      <h2 class="page-header" id="platforms">Platforms</h2>
      <p>These values are valid platforms:</p>
      <ul>
        <li><code>android</code></li>
        <li><code>api</code></li>
        <li><code>frontendEmail</code></li>
        <li><code>ios</code></li>
        <li><code>kik</code></li>
        <li><code>line</code></li>
        <li><code>messenger</code></li>
        <li><code>motion.ai</code></li>
        <li><code>officehours</code></li>
        <li><code>slack</code></li>
        <li><code>sms</code></li>
        <li><code>telegram</code></li>
        <li><code>twilio</code></li>
        <li><code>viber</code></li>
        <li><code>web</code></li>
        <li><code>wechat</code></li>
        <li><code>whisper</code></li>
      </ul>

      <h2 class="page-header" id="types">Message types</h2>

      <p>Message types are broken down in four categories:</p>

      <div class="row">
        <div class="col-sm-6">
          <h5>Multimedia</h5>
          <ul>
            <li><code>image</code> </li>
            <li><code>audio</code> </li>
            <li><code>video</code> </li>
            <li><code>file</code> </li>
            <li><code>link</code></li>
            <li><code>sticker</code></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h5>Button</h5>
          <ul>
            <li><code>web_url</code> </li>
            <li><code>postback</code> </li>
            <li><code>call</code> </li>
            <li><code>share</code> </li>
            <li><code>buy</code></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h5>Template</h5>
          <ul>
            <li><code>button</code> </li>
            <li><code>generic</code> </li>
            <li><code>list</code> </li>
            <li><code>receipt</code> </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h5>Other</h5>
          <ul>
            <li><code>location</code> </li>
          </ul>
        </div>
      </div>

      <hr class="my-3">

      <h3>Multimedia</h3>

      <p><code>mtype</code> must be one the following: <code>image</code>, <code>audio</code>, <code>video</code>, <code>file</code>, <code>link</code> or <code>sticker</code>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>url</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>URL</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "audio",
    "properties": {
      "url": "http://example.com/asset.mp3"
    }
  }
}</pre>

      <hr class="my-3">

      <h3>Button</h3>

      <p><code>mtype</code> must be one the following: <code>url</code>, <code>postback</code>, <code>call</code>, <code>share</code> or <code>buy</code>.</p>

      <h4>URL button</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/url-button">specification for the URL button</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button type. Value must be <code>web_url</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>title</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button title</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>url</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button URL</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "button",
    "properties": {
      "type": "web_url",
      "title": "View Example.com",
      "url": "http://example.com"
    }
  }
}</pre>

      <hr class="my-3">

      <h4>Postback button</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/postback-button">specification for the postback button</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button type. Value must be <code>postback</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>title</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button title</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "button",
    "properties": {
      "type": "postback",
      "title": "Yes"
    }
  }
}</pre>

      <hr class="my-3">

      <h4>Call button</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/call-button">specification for the call button</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button type. Value must be <code>phone_number</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>title</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Button title.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>payload</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>Phone number.</p>
                <p>Example: <code>+16505551234</code>.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "button",
    "properties": {
      "type": "phone_number",
      "title": "Call me maybe",
      "payload": "+16505551234"
    }
  }
}</pre>

      <hr class="my-3">

      <h4>Share button</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/share-button">specification for the share button</a>.</p>

      <div class="callout callout-default">
        <div class="callout-content">
          This feature is coming soon.
        </div>
      </div>

      <hr class="my-3">

      <h4>Buy button</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/buy-button">specification for the buy button</a>.</p>

      <div class="callout callout-default">
        <div class="callout-content">
          This feature is coming soon.
        </div>
      </div>

      <hr class="my-3">

      <h3>Template</h3>

      <p><code>mtype</code> must be <code>template</code>.</p>

      <h4>Button template</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/button-template">specification for the button template</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Template type. Value must be <code>button</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>text</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Text</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>buttons</i>
              </td>
              <td>
                <strong>array</strong> <span class="tag tag-success">Required</span>
                <p>A collection of <code>button</code> objects.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "template",
    "properties": {
      "type": "button",
      "text": "Hello world!",
      "buttons": [{
        "type": "web_url",
        "url": "http://example.com",
        "title": "Show website"
      }]
    }
  }
}</pre>

      <hr class="my-3">

      <h4>Generic template</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template">specification for the generic template</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Template type. Value must be <code>generic</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>elements</i>
              </td>
              <td>
                <strong>array</strong> <span class="tag tag-success">Required</span>
                <p>A collection of <code>element</code> objects.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "template",
    "properties": {
      "type": "generic",
      "elements": [{
        "title": "Hello world!",
        "image_url": "http://example.com/example.png",
        "subtitle": "This is an example"
      }]
    }
  }
}</pre>

      <hr class="my-3">

      <h4>List template</h4>

      <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/list-template">specification for the list template</a>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Template type. Value must be <code>list</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>elements</i>
              </td>
              <td>
                <strong>array</strong> <span class="tag tag-success">Required</span>
                <p>A collection of <code>element</code> objects.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>buttons</i>
              </td>
              <td>
                <strong>array</strong> <span class="tag tag-default">Optional</span>
                <p>A collection of <code>button</code> objects.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "template",
    "properties": {
      "type": "list",
      "elements": [{
        "title": "Hello world!",
        "image_url": "http://example.com/example.png",
        "subtitle": "This is an example",
        "buttons": [{
          "title": "Buy",
          "type": "web_url",
          "url": "http://example.com/buy"
        }]
      }],
      "buttons": [{
        "type": "web_url",
        "url": "http://example.com",
        "title": "View More"
      }]
    }
  }
}</pre>

        <hr class="my-3">

        <h4>Receipt template</h4>

        <p>Compatible with Facebook Messenger's <a href="https://developers.facebook.com/docs/messenger-platform/send-api-reference/receipt-template">specification for the receipt template</a>.</p>

        <div class="card">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Property</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i>type</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-success">Required</span>
                  <p>Template type. Value must be <code>receipt</code>.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>recipient_name</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-success">Required</span>
                  <p>Recipient's name.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>merchant_name</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-default">Optional</span>
                  <p>Merchant's name.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>order_number</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-success">Required</span>
                  <p>Order number.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>currency</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-success">Required</span>
                  <p>Order's currency.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>payment_method</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-success">Required</span>
                  <p>Payment method. This can be a custom string.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>timestamp</i>
                </td>
                <td>
                  <strong>number</strong> <span class="tag tag-default">Optional</span>
                  <p>A <a href="https://en.wikipedia.org/wiki/Unix_time">Unix timestamp</a> of the order with milliseconds.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>order_url</i>
                </td>
                <td>
                  <strong>string</strong> <span class="tag tag-default">Optional</span>
                  <p>Order's URL.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>elements</i>
                </td>
                <td>
                  <strong>array</strong> <span class="tag tag-default">Optional</span>
                  <p>Collection of <code>element</code> objects.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>address</i>
                </td>
                <td>
                  <strong>object</strong> <span class="tag tag-default">Optional</span>
                  <p>Shipping address. Must be a <code>address</code> object.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>summary</i>
                </td>
                <td>
                  <strong>object</strong> <span class="tag tag-success">Required</span>
                  <p>Payment summary. Must be a <code>summary</code> object.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>adjustments</i>
                </td>
                <td>
                  <strong>array</strong> <span class="tag tag-default">Optional</span>
                  <p>A collection of <code>adjustment</code> objects.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <pre>
{
  "message": {
    "mtype": "template",
    "properties": {
      "type": "receipt",
      "recipient_name": "Philippe Dionne",
      "order_number": "1234567890",
      "currency": "USD",
      "payment_method": "Visa 1234",
      "order_url": "http://example.com/orders/1",
      "timestamp": "1428444852",
      "elements":[{
        "title": "White T-Shirt",
        "subtitle": "100% Cotton",
        "quantity": 2,
        "price": 25,
        "currency": "USD",
        "image_url": "http://example.com/products/1.jpg"
      }],
      "address":{
        "street_1": "226 rue Saint-Joseph Est",
        "street_2": "",
        "city": "Québec",
        "postal_code": "G1K 3A9",
        "state": "QC",
        "country": "CA"
      },
      "summary":{
        "subtotal": 35.00,
        "shipping_cost": 10,
        "total_tax": 5,
        "total_cost": 40
      },
      "adjustments":[{
        "name": "$10 Off Coupon",
        "amount": 10
      }]
    }
  }
}</pre>

      <hr class="my-3">

      <h5>Location</h5>

      <p><code>mtype</code> must be <code>location</code>.</p>

      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>lat</i>
              </td>
              <td>
                <strong>float</strong> <span class="tag tag-success">Required</span>
                <p>Latitude</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>lng</i>
              </td>
              <td>
                <strong>float</strong> <span class="tag tag-success">Required</span>
                <p>Longitude</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pre>
{
  "message": {
    "mtype": "location",
    "properties": {
      "lat": 46.8565177,
      "lng": -71.4861574
    }
  }
}</pre>
    </div>
  </div>
</div>
