---
title: Track - Dialog Documentation
description: Track both sent and received messages.
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="track">Track</h2>

      <p class="lead">This action allows to track both <strong>sent</strong> and <strong>received</strong> messages.</p>

      <h4 class="page-header">Request</h4>

      <pre>
curl -XPOST -H "Content-type: application/json" -d '{
  "message": {
    "conversation_distinct_id": "<span class="js-distinct-id"></span>",
    "creator_distinct_id": "<span class="js-distinct-id"></span>",
    "creator_type": "interlocutor",
    "distinct_id": "<span class="js-distinct-id"></span>",
    "platform": "messenger",
    "provider": "messenger",
    "mtype": "text",
    "sent_at": 1472068363.049758,
    "properties": {
      "text": "Hello world",
      "confidence": 0.3459
    }
  }
}' 'https://api.dialoganalytics.com/v1/b/:id/track'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table m-b-0">
            <thead>
              <tr>
                <th>Param</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i>conversation_distinct_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>A unique conversation ID issued by the messenging platform.</p>
                  <p>If the <code>conversation_distinct_id</code> is seen for the first time, then a new <%= link_to 'Conversation', '/reference/conversation.html' %> will be created.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>creator_distinct_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>ID of sender, either a unique user ID or the bot's ID.</p>
                  <p>If the <code>creator_distinct_id</code> is from a user and is seen for the first time, then a new <%= link_to 'Interlocutor', '/reference/interlocutor.html' %> will be created.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>creator_type</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>Either <code>interlocutor</code> or <code>bot</code>. Case insensitive.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>distinct_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>A unique message ID issued by the messenging platform. This enables the API to support <a href="/reference#idempotent-requests">idempotent requests</a>.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>platform</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>The platform on which the message is sent. Possible values: <code>slack</code>, <code>messenger</code>, <code>kik</code>, <code>sms</code>, <code>web</code>, <code>api</code>.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>provider</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>The provider on which which the message is sent. Possible values: <code>messenger</code>, <code>kik</code>, <code>smooch</code>.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>mtype</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>Message type. Refer to <a href="/reference/message#types">message types</a> for supported values.</p>
                  <p>Note that additional <code>properties</code> are expected depending of the message type.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>sent_at</i>
                </td>
                <td>
                  <strong>number</strong> <span class="label label-primary">Required</span>
                  <p>A floating point number representing the seconds and milliseconds elapsed since 1 January 1970 00:00:00 UTC. Also refered to as a <a href="https://en.wikipedia.org/wiki/Unix_time">unix timestamp</a>.</p>
                  <p>Example: <code>1474215799.4329312</code>, <code>1474215799.432</code> or <code>1474215799</code> are valid values.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>properties</i>
                </td>
                <td>
                  <strong>hash</strong> <span class="label label-default">Optional</span>
                  <p>Additional message properties. Mostly used to add interesting metadata dependent on <a href="#message-types">message types</a>.</p>

                  <hr>

                  <p>The following properties can always be combined to <a href="/reference/message#types">message types</a> specific ones.</p>

                  <table class="table m-b-0">
                    <thead>
                      <tr>
                        <th>Property</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i>confidence</i>
                        </td>
                        <td>
                          <strong>float</strong> <span class="label label-default">Optional</span>
                          <p>NLP/NLU entity extraction confidence in percent. This information may be available if you use a provider like Api.ai, Luis.ai, etc.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
