<h4 id="text">Text</h4>

<p><code>mtype</code> must be <code>text</code>.</p>

<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i>text</i>
        </td>
        <td>
          <strong>string</strong> <span class="tag tag-success">Required</span>
          <p>Message content</p>
        </td>
      </tr>
      <tr>
        <td>
          <i>quick_replies</i>
        </td>
        <td>
          <strong>array</strong> <span class="tag tag-default">Optional</span>
          <p>A collection of <code>quick reply</code> objects.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pre>
{
  "message": {
    "mtype": "text",
    "properties": {
      "text": "Hello world!",
      quick_replies: [
        {
          "type":"text",
          "title":"Yes",
          image_url: "http://example.com/yes.png"
        },
        {
          "type":"text",
          "title":"No",
          image_url: "http://example.com/no.png"
        }
      ]
    }
  }
}</pre>

<hr class="my-3">

<h4 id="location">Location</h4>

<p><code>mtype</code> must be <code>location</code>.</p>

<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i>lat</i>
        </td>
        <td>
          <strong>float</strong> <span class="tag tag-success">Required</span>
          <p>Latitude</p>
        </td>
      </tr>
      <tr>
        <td>
          <i>lng</i>
        </td>
        <td>
          <strong>float</strong> <span class="tag tag-success">Required</span>
          <p>Longitude</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pre>
{
  "message": {
    "mtype": "location",
    "properties": {
      "lat": 46.8565177,
      "lng": -71.4861574
    }
  }
}</pre>

<hr class="my-3">

<h4 id="quick-reply">Quick reply</h4>

<p><code>mtype</code> must be <code>quick_reply</code>.</p>

<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i>text</i>
        </td>
        <td>
          <strong>string</strong> <span class="tag tag-success">Required</span>
          <p>Message content</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pre>
{
  "message": {
    "mtype": "quick_reply",
    "properties": {
      "text": "Hello world!"
    }
  }
}</pre>
