<footer class="block-inverse p-y-md" id="footer">
  <div class="container">
    <div class="row">
      <div class="co-sm-12">
        <small>Dialog • <a href="mailto:friends@dialoganalytics.com">Contact</a> • <%= link_to 'Community', url_for('http://slack.dialoganalytics.com') %> • <%= link_to 'Privacy', 'https://www.iubenda.com/privacy-policy/7845514/legal' %> • <%= link_to 'Terms', 'terms_path' %></small>
      </div>
    </div>
  </div>
</footer>
