<header id="header">

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://dialoganalytics.com">Dialog <span class="text-muted">| docs</span></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <%= link_to 'Sign In', 'https://app.dialoganalytics.com/users/sign_in', class: 'btn btn-link navbar-btn navbar-right' %>

        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

</header>
