<nav id="sidebar">
  <ul class="nav nav-pills nav-stacked py-2">
    <li class="nav-item">
      Basics
    </li>
    <li><a href="/concepts" class="nav-link">Key terms and concepts</a></li>

    <li class="nav-item mt-1">
      Libraries
    </li>
    <li class="nav-item">
      <a href="/examples" class="nav-link">Examples</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/dialoganalytics/dialog-ruby" class="nav-link">dialog-ruby</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/dialoganalytics/dialog-node" class="nav-link">dialog-node</a>
    </li>

    <li class="nav-item mt-1">
      API Reference
    </li>
    <li class="nav-item">
      <a href="/reference" class="nav-link">Overview</a>
    </li>
    <li class="nav-item">
      <a href="/reference/track" class="nav-link">Track</a>
    </li>

    <li class="nav-item mt-1">
      Sources
    </li>
    <li class="nav-item">
      <a href="/sources/smooch" class="nav-link">Smooch</a>
    </li>
    <li class="nav-item">
      <a href="/sources/converse-ai" class="nav-link">Converse.ai <span class="class tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/sources/dexter" class="nav-link">Dexter <span class="class tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/sources/init-ai" class="nav-link">Init.ai <span class="class tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/sources/meya-ai" class="nav-link">Meya.ai <span class="class tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/sources/motion-ai" class="nav-link">Motion.ai <span class="class tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/sources/segment" class="nav-link">Segment <span class="class tag tag-default">soon</span></a>
    </li>

    <li class="nav-item mt-1">
      Integrations
    </li>
    <li class="nav-item">
      <a href="/integrations/clearbit" class="nav-link">Clearbit <span class="tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/integrations/slack" class="nav-link">Slack <span class="tag tag-default">soon</span></a>
    </li>
    <li class="nav-item">
      <a href="/integrations/zapier" class="nav-link">Zapier <span class="tag tag-default">soon</span></a>
    </li>
  </ul>
</nav>
