<nav>
  <ul class="nav nav-stacked">
    <li class="nav-header m-t">Libraries</li>
    <li><a href="/examples">Examples</a></li>
    <li>
      <a href="https://github.com/dialoganalytics/dialog-ruby">dialog-ruby</a>
    </li>
    <li>
      <a href="https://github.com/dialoganalytics/dialog-node">dialog-node</a>
    </li>

    <li class="divider"></li>

    <li class="nav-header m-t">API Reference</li>
    <li><a href="/reference#introduction">Introduction</a></li>
    <li><a href="/reference#authentication">Authentication</a></li>
    <li><a href="/reference#errors">Errors</a></li>
    <li><a href="/reference#idempotent-requests">Idempotent Requests</a></li>
    <li><a href="/reference#rate-limiting">Rate limiting</a></li>
    <li><a href="/reference#versioning">Versioning</a></li>

    <li class="nav-header m-t">Core resources</li>
    <li>
      <a href="/reference/track">Track</a>
    </li>
    <li>
      <a href="/reference/conversation">Conversation</a>
      <ul>
        <li><a href="/reference/conversation#object">Conversation object</a></li>
        <li><a href="/reference/conversation#retrieve">Retrieve a conversation</a></li>
        <li><a href="/reference/conversation#list">List all conversations</a></li>
      </ul>
    </li>
    <li>
      <a href="/reference/message">Message</a>
      <ul>
        <li><a href="/reference/message#object">Message object</a></li>
        <li><a href="/reference/message#retrieve">Retrieve a message</a></li>
        <li><a href="/reference/message#list">List all messages</a></li>
        <li><a href="/reference/message#types">Types</a></li>
      </ul>
    </li>
    <li>
      <a href="/reference/interlocutor">Interlocutor</a>
      <ul>
        <li><a href="/reference/interlocutor#object">Interlocutor object</a></li>
        <li><a href="/reference/interlocutor#create">Create an interlocutor</a></li>
        <li><a href="/reference/interlocutor#retrieve">Retrieve an interlocutor</a></li>
        <li><a href="/reference/interlocutor#list">List all interlocutors</a></li>
      </ul>
    </li>
    <li>
      <a href="/reference/click-tracking">Click tracking</a>
    </li>
  </ul>
</nav>
