---
title: Examples - Dialog Documentation
description: Code examples using Dialog API wrappers.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="examples">Examples</h2>

      <p>We currently have official API wrappers for <a href="https://github.com/dialoganalytics/dialog-ruby">ruby</a> and <a href="https://github.com/dialoganalytics/dialog-node">node</a>. Please take note that official libraries for these languages are coming: Clojure, Go, Java, PHP, Python, and .NET.</p>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">Node</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#">Amazon Alexa</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="#">Google Actions</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/botkit-messenger-example">Messenger with Botkit</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/botkit-twilio-ipm-example">Twilio Programmable Chat with Botkit</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/kik-node-example">Kik</a>
              </li>
              <li class="list-group-item">
                <a href="#">Messenger</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="#">Twilio SMS</a> (soon)
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">Ruby</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#">Amazon Alexa</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="#">Google Actions</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/messenger-ruby-example">Messenger</a>
              </li>
              <li class="list-group-item">
                <a href="#">Twilio Programmable Chat</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="#">Kik</a> (soon)
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/twilio-sms-ruby-example">Twilio SMS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="callout callout-primary">
        <div class="callout-content">
          <p>Using <a href="https://www.zendesk.com/">Zendesk</a>, <a href="https://www.helpscout.net/">HelpScout</a> or <a href="https://frontapp.com/">Front</a>? We support all of them via <a href="https://smooch.io">Smooch</a>. Head down to our <a href="/sources">sources</a> page to easily connect to Dialog without writing code.</p>
        </div>
      </div>
    </div>
  </div>
</div>
