---
title: Examples - Dialog Documentation
description: Code examples using Dialog API wrappers.
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="examples">Examples</h2>

      <p>We currently have official API wrappers for <a href="https://github.com/dialoganalytics/dialog-ruby">ruby</a> and <a href="https://github.com/dialoganalytics/dialog-node">node</a>. Please take note that official libraries for these languages are coming: Clojure, Go, Java, PHP, Python, and .NET.</p>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Node</div>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/botkit-messenger.js">Messenger with Botkit</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/botkit-twilioipm.js">Twilio IP Messaging with Botkit</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/kik.js">Kik</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/messenger.js">Messenger (soon)</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/twilio-sms.js">Twilio SMS (soon)</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-node/blob/master/examples/alexa.js">Alexa (soon)</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Ruby</div>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-ruby/blob/master/examples/messenger.rb">Messenger (soon)</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-ruby/blob/master/examples/twilio-ipm.rb">Twilio IP Messaging (soon)</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-ruby/blob/master/examples/twilio-sms.rb">Twilio SMS</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-ruby/blob/master/examples/kik.rb">Kik (soon)</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/dialoganalytics/dialog-ruby/blob/master/examples/alexa.rb">Alexa (soon)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="callout callout-primary">
        <div class="callout-content">
          <p>Using <a href="https://smooch.io">Smooch</a> or <a href="https://intercom.com">Intercom</a> as messaging platforms? Head down to our <a href="https://help.dialoganalytics.com/integrations">integrations</a> page to easily connect them to Dialog without writing code.</p>
        </div>
      </div>
    </div>
  </div>
</div>
