---
title:
description:
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Documentation</h2>
      <p class="lead">Welcome to Dialog!</p>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h4><a href="/examples">Examples</a></h4>
              <p>Get started by checking out some example integrations using our official API wrappers.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h4><a href="/reference">API reference</a></h4>
              <p>Read the detailed API reference enabling developers to interact with Dialog's REST API.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h4><a href="/sources">Sources</a></h4>
              <p>Quickly connect Dialog to one of your conversation source, such as Smooch. No technical skills required.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h4><a href="/integrations">Integrations</a></h4>
              <p>Do more with Dialog by connecting with products like Clearbit, Slack and Zapier.</p>
            </div>
          </div>
        </div>
      </div>

      <h3 class="page-header">Not a developer?</h3>

      <h4>Use Dialog from other services</h4>
      <p>Dialog has a few third-party integrations which require no programming, hosting, or setup on your behalf, such as Smooch. Check out our <a href="/sources">sources</a>.</p>

      <h3 class="page-header">Questions?</h3>
      <p>We're always happy to help with code or other questions you might have! Please send us an email at <a href="mailto:friends@dialoganalytics.com">friends@dialoganalytics.com</a>.</p>
    </div>
  </div>
</div>
