---
title:
description:
keywords:
---

<div class="container" id="main">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-bordered nav-stacked m-t-lg">
        <li class="nav-header">Metrics</li>
        <li><a href="#active-users">Active Users</a></li>

        <li><a href="#conversational-score">Conversational score</a></li>
        <li><a href="#efficiency-score">Efficiency score</a></li>
        <li><a href="#conciseness-score">Conciseness score</a></li>
        <li><a href="#sentiment-score">Sentiment score</a></li>
        <li><a href="#bot-latency">Bot latency</a></li>

        <li><a href="#user-latency">User Latency</a></li>
        <li><a href="#active-sessions">Active sessions</a></li>
        <li><a href="#passive-sessions">Passive sessions</a></li>
        <li><a href="#sporadic-sessions">Sporadic sessions</a></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Metrics</h2>
      <p>Here is the comprehensive list of Dialog's conversational-first metrics.</p>

      <h3 class="page-header" id="active-users">Active Users</h3>
      <p>How many unique users interact at least once with the bot throughout the day.</p>

      <h3 class="page-header" id="conversational-score">Conversational Score</h3>
      <p>Dialog's proprietary score indicating the conversation's quality. It combines Dialog's most important metrics together in order to give a quantifiable and objective representation of the interaction's quality.</p>

      <h3 class="page-header" id="sentiment-score">Sentiment Score</h3>
      <p>Sentiment associated to a body of text.</p>

      <h3 class="page-header" id="efficiency-score">Efficiency Score</h3>
      <p>Efficiency measured according to the bot's conversation length optmization strategy.</p>

      <h3 class="page-header" id="conciseness-score">Conciseness Score</h3>
      <p>Conciseness of a conversation measured as the number of turns in the conversation.</p>

      <h3 class="page-header" id="bot-latency">Bot Latency</h3>
      <p>Latency between messages sent by a bot.</p>

      <h3 class="page-header" id="user-latency">User Latency</h3>
      <p>Latency between messages sent by a user.</p>

      <h3 class="page-header" id="active-sessions">Active sessions</h3>
      <p>An active chat session is one in which the chatter is fully focused on a conversation and will send a message to her correspondent within 20 seconds of the previous one. For instance, an intense back-and-forward between girlfriend and boyfriend would qualify as an active chat.</p>

      <h3 class="page-header" id="passive-sessions">Passive sessions</h3>
      <p>Someone in a passive chat session, meanwhile, is not so engaged and might take several minutes to send another message. This is the sort of on-again, off-again conversation you might have with a friend while you’re slightly distracted, perhaps while watching TV or cooking dinner.</p>

      <h3 class="page-header" id="sporadic-sessions">Sporadic sessions</h3>
      <p>A chatter in a sporadic chat session will just check and send messages occasionally throughout the day.</p>
    </div>
  </div>
</div>
